* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    font-family: 'Work Sans', sans-serif;
    background-color: hsl(275, 100%, 97%);
    background-image: url(assets/images/background-pattern-desktop.svg);
    background-size: 100%;
    background-position: top center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 50px;
}

.container {
    background-color: #fff;
    border-radius: 10px;
    max-width: 600px;
    padding: 30px;
    margin: auto;
    box-shadow: rgba(100, 100, 111, 0.15) 5px 20px 30px;
}

.faq-lista dt {
    font-weight: 600;
    color: hsl(292, 42%, 14%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    margin: 10px 0; 
    transition: color 0.2s ease, box-shadow 0.2s ease;
}

.faq-lista dt:hover {
    cursor: pointer;
    color: #AD28EB;

}

.accordion-button {
    all: unset;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background: none;
    border: none;
    cursor: pointer;
}

.accordion-button:focus {
    outline: 2px solid #AD28EB;
    border-radius: 4px;
    box-shadow: 0 0 6px #AD28EB; 
}

.js-accordion dd.ativo {
    max-height: 200px;
    opacity: 1;
}

.faq-lista dd {
    font-size: 1rem;
    color: hsl(292, 16%, 49%);
    margin-left: 0;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

h1 {
    font-size: 3rem;
    color: hsl(292, 42%, 14%);
    display: flex;
    align-items: center;
    gap: 24px;
    margin: 20px 5px 30px;
}

.faq-lista dt:nth-child(n+2) {
    border-top: 1px solid hsl(275, 100%, 97%);
}

h1 img {
    width: 30px;
    height: auto;
}

.faq-lista {
    padding: 0;
    list-style: none;
}

@media (max-width: 500px) {
    body {
        background-size: 200%;
        background-position: top center;
    }

    main {
        padding: 30px;
    }

    .container {
        max-width: 400px;
    }

    h1 {
        font-size: 2rem;
    }
}